body{
    overflow-y:hidden;
}
#control{
    height: 50px;
}

#conversations-list{
    height:100%;
    z-index: 1;
    margin-top: 60px;
}

.conversation-title {
    font-family: Ubuntu-Bold;
    font-size: 24px;
    color: blue;
}


#main-screen{
    /*background-color: blue;*/
    height: 400px;
}

#video-list{
    overflow-y: hidden;
    max-height: 500px;
}

#video-list:hover{
    overflow-y : auto;
}

.conversation {
    background-color: white;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    border : solid black 1px;
    margin : 2px;
    margin-left: 25%;
}

p{
    text-align: center;
}

#selfie-container{
    padding: 10px;
}

#active-speaker-container{
    background-color: #ffffff;
}

#selfie{
    width:25%;
    height: auto;
    z-index: 3;
    position: absolute;
    top: 0%;
    left: 5%;
}
#active-speaker{
    width:70%;
    height:auto ;
    z-index: 2;
    position: absolute;
    top : 15%;
    left : 15%;
}

.video-item {
    z-index: 2;
    width:80%;
    height:auto;
    max-height: 350px;
    margin: 5%;
}

#control-buttons {
    position: absolute;
    top: 3%;
    right: 5%;
}

.highlighted {
    box-shadow: 0 3px 20px 0px #00ff36;
}

.highlighted-pending {
    box-shadow: 0 3px 20px 0px red;
}

video {
    border-radius: 5px;
    box-shadow: 0 3px 20px 0px #000000;
}

#top-bar{
    padding : 15px;
}

#logout{
    padding : 5px;
    position:absolute;
    margin-left: 100px;
    display: inline-block;
}

#my-username{
    margin-left: 150px;
    font-size : 18px;
    color: black;
    display: inline-block;
}