#control{
    height: 50px;
}

#conversations-list{
    height:100%;
    z-index: 1;
}


#main-screen{
    /*background-color: blue;*/
    height: 400px;
}

#video-list{
    margin : 35% 0% 0% 0%;
    /*height:400px;*/
    background-color: #4CAF50;
    left: 0%
}

.conversation{
    background-color: white;
    border-radius: 10px;
    border : solid black 1px;
    margin : 0px 2px 0px 2px;
    font-family: Ubuntu-Bold;
    font-size: 18px;
}

p{
    text-align: center;
}

#selfie-container{
    padding: 10px;
}

#active-speaker-container{
    background-color: #ffffff;
}

#selfie{
    width:25%;
    height: auto;
    z-index: 3;
    position: absolute;
    top: 5%;
    left: 5%;
}
#active-speaker{
    width:80%;
    height:auto ;
    z-index: 2;
    position: absolute;
    top : 20%;
    left : 15%;
}

.video-item {
    z-index: 2;
    width:100%;
    height:auto;
    max-height: 150px;
    margin:5px 10px 5px 10px;
}

#control-buttons {
    position: absolute;
    top: 8%;
    right: 5%;
}
