#control{
    width: 100%;
    height: 50px;
}

#login{
    width: 200px;
    height: 50px;
    background-color : green;
    position : absolute;
    right: 212px;
}

#logout{
    width: 200px;
    height: 50px;
    background-color:red;
    position: absolute;
    right: 10px;
}
#conversations-list{
    background-color: aqua;
    width: 300px;
    height: 400px;
    position: absolute;
    left : 0px;
    z-index: 1;
    overflow-y: scroll;
    display: inline-block;
}


#screen{
    background-color: blue;
    width : 100%;
    height: 400px;
    position : relative;
}

#video-list{
    background-color : red;
    position : relative;
    height: 150px;
    width : 100%;
}

.conversation{
    background-color: white;
    border-radius: 10px;
    border : solid black 1px;
    margin : 0px 2px 0px 2px;
}

p{
    text-align: center;
}

#selfie{
    width:100px;
    height: 100px;
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 10px;
}

#active-speaker{
    width:300px;
    height: 300px;
    z-index: 2;
    position: absolute;
    top : 60px;
    left : 60px;
}

.video-item {
    z-index: 2;
}
